<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jobsweb</display-name>
 <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
    				/WEB-INF/spring-config.xml
    				/WEB-INF/spring-security.xml
    	</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>redmond</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
	    <filter-name>OSIV</filter-name>
	    <filter-class>br.com.jobs.persistencia.OSIVFilter</filter-class>
	 </filter>
	 <filter-mapping>
	     <filter-name>OSIV</filter-name>
	     <url-pattern>*.jsf</url-pattern>
	 </filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/primefaces_resource/*</url-pattern>
	</servlet-mapping>
	
	<!-- Error redirects -->
      <error-page>
        <error-code>404</error-code>
        <location>/acesso_falha.jsf</location>
    </error-page>
    
       <error-page>
        <error-code>408</error-code>
        <location>/acesso_falha.jsf</location>
    </error-page>
    
     <error-page>
        <error-code>500</error-code>
        <location>/acesso_falha.jsf</location>
    </error-page>
   
    <error-page>
        <error-code>504</error-code>
        <location>/acesso_falha.jsf</location>
    </error-page>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
</web-app>